
.card{
    width: 300px;
    margin:auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-body{
    min-height: 300px;
}
  
.card:hover{
    animation: float 0.3s ease-in-out;
}

.List.card{
    width:600px !important;
}
  
@keyframes float {
      50% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
      50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-20px);
      }
      100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
}

@media(max-width:900px){
  .List.card{
    width:80%!important;
  }
}


.btn:focus {
  outline: none;
  box-shadow: none;
}
  